<html lang="en">
<head>
  <title>Add User</title>
</head>
<body>
<div>
  <p><span>Hi there {{displayName}}!</span></p>
  <p><span>You're invited as a user on ActivePlace CMS with access level of {{accessLevel}}. <span style="font-weight: bold;"><a href="{{redirectingDomainCMS}}/invitation/{{id}}">Click here</a></span> to redirect to the site or if that doesn't work click this URL: </span></p>
  <p>{{redirectingDomainCMS}}/invitation/{{id}}</p>
</div>
</body>
</html>
